.header {
  color: var(--light-text);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 10px;
}

.punkLogo {
  cursor: pointer;
  width: 200px;
}

.searchBar {
  background-color: var(--search-background);
  height: 50px;
  flex: 1;
  display: flex;
  border-radius: 50px;
  border: 1px solid var(--search-border);
  align-items: center;
}

.searchIconContainer {
  margin: 10px;
}

.searchInput {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: var(--light-text);
  font-size: 16px;
}

.headerItems {
  display: flex;
}

.headerItems > p {
  margin: 10px;
  cursor: pointer;
  color: var(--gray-text);
}

.headerActions {
  display: flex;
  align-items: center;
}

.headerActions > div {
  margin: 10px;
}

.loginButton {
  background: linear-gradient(to right, #59f9b7, #66feea);
  padding: 15px 40px;
  border-radius: 50px;
  cursor: pointer;
}
.loginButton > a {
  text-decoration: none;
  color: var(--black);
}
